body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow: hidden;
  height: 100vh;
}



.container-crupier {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container-player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#cards-deck {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 25%;
  position: absolute;
  top: 37%;
  margin-left: 15px;
  -webkit-box-shadow: 10px 10px 9px 4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 9px 4px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 9px 4px rgba(0, 0, 0, 0.52);
  @media (max-width: 600px) {
    display: none;
  }
}



#buttons {
  display: none;
}

#buttons.active {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 25%;
  position: absolute;
  top: 30%;
  right: 15px;
}
#buttons img {
  height: 100%;
  width: auto;
}






.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 45%;
  width: 100%;
  margin-left: 25%;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  white-space: nowrap; /* Evita el salto de línea */
  scroll-behavior: smooth; /* Suaviza el desplazamiento */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.card-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Edge */
}

.card {
  height: 100%;
  flex: 0 0 auto; /* Evita que las cartas se reduzcan */
}

.card img {
  height: 100%;
  width: auto;
}

.card:hover {
  transform: translateY(-15px);
}


.score-container {
  font-family: "Micro 5", serif;
  font-size: 5em;
  position: absolute;
  display: flex;
  left: 20%;
  justify-content: left;
}

.score {
}

.score-container {
  width: 60px;
  margin-left: -30px;
  @media (max-width: 600px) {
    margin-left: -80px;
  }
  background-color: #2b2b2b;
  border: 4px solid #ffd700;
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-family:  "Micro 5", serif;
  box-shadow: 4px 4px 0px #aa0000, 8px 8px 0px #000;
  color: #ffd700;
}

.score {
  font-size: 48px;
  text-shadow: 2px 2px 0px #aa0000, 4px 4px 0px #000;
}